{% extends 'store/main.html' %}
{% load crispy_forms_tags %}

{% block navbar %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Add Product</li>
    </ol>
    <h6 class="font-weight-bolder mb-0">Add Product</h6>
    </nav>
        
{% endblock navbar %}

{% block content %}
    <div class="container mt-4">
        <h2>Add a Product</h2>
        
        <form method="POST" class="needs-validation my-custom-form">
            {% csrf_token %}
           
            <div>
                {{ form.as_p }}
            </div>

            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
        </form>
    </div>

{% endblock content %}